altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==3.3.0
colorama==0.4.6
idna==3.4
packaging==23.1
pefile==2023.2.7
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
pywin32-ctypes==0.2.2
requests==2.31.0
urllib3==2.0.5
